/*<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>*/
/*@import url (https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css);*/
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
/*@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:700);*/
/*@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);*/

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption);
/* @import url(https://fonts.googleapis.com/css?family=Poiret+One); */
@import url(https://fonts.googleapis.com/css?family=Righteous&subset=latin,latin-ext);

body {
	background-image: url("../images/background-imager/Elegant_Background-19-optimised.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
/* 	font-family: arial; */
	
}

h1, h2, h3, h4{
    color: #fff;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
/* 	font-family: 'Poiret One', cursive; */
	font-family: 'Righteous', cursive;
}

h1 {
	font-size : xx-large;
}

p {
	color : white;
	font-weight: normal;
	line-height: 2.0em;
	margin: 0 0 .5em 0;
	font-family: 'Indie Flower', cursive;
	font-size : x-large;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}*/
.active {
    background-color: #4CAF50;
}


#rcorners5 {
    border-radius: 15px 50px 30px;
    background: #333;
    padding: 20px;
    width: 250px;
    height: 320px; 
}

#rcorners3 {
    border-radius: 25px;
    background: url(../images/chalkboard.jpg);
    background-position: center;
    background-repeat: repeat;
    padding: 20px; 
    width: 500px;
    height: 750px;    
}

/* Popup window */


/*h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}*/

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: black;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

/* Footer */

footer {
	font-family: 'Righteous', cursive;
    background-color: #333;
    width : 97%;
    padding: 10px;
    border-radius: 10px;

    font-size: 1em;
    text-align: center;
    font-weight: bold;
	color: white;
}

/* My Image */

.container {
    position: relative;
}

.topright {
    position: absolute;
    font-size: 18px;
    top: 150px;
    right: 150px;
}

/*img {
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: auto;
}*/

/* /* /* /*  */ 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: .8em;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }



  .nav li ul li {
    display: block;
  }
}
