
#wrapper{
	width:1024px; 
	margin:0 auto;
}
#header h1{
	text-align: center;
}
	nav.navigation {
    display: block;
    margin-bottom: 10px;
}
nav.navigation  ul {
    list-style: none;
    font-size: 14px; 
    text-align: center;
}
nav.navigation  ul li {
    display: inline-block;
}

/* page Content */
#content {
display: block;
clear: both;
margin-bottom: 20px;
min-height: 500px;
}

#left-sidebar {
width: 35%;
float: left;
margin: 0 15px;
background: #ccc; 
min-height: 500px; 
text-align: center;
}
#right {
float: right;
width: 62%;
background: #efefef; 
text-align: center;
min-height: 500px;
}
footer{text-align: center;}
/* clearfix */
.clearfix:after {
content: “.”;
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}
.clearfix {
display: inline-block;
}

html[xmlns] .clearfix {
display: block;
}
* html .clearfix {
height: 1%;
}
